@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Shopt the latest product now!</p>
    <a href="/Shop" class="btn btn-primary">Start Shopping</a>
</div>
