@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-3">
    <p>Shopt the latest product now!</p>
    <a href="/Shop" class="btn btn-primary btn-danger">Start Shopping</a>
</div>
