@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
    </div>

</div>


@* <div class="text-center">
    <h1 class="display-4">Welcome to EliMart</h1>
    <p>Shopt the latest product now!</p>
    <a href="/Shop" class="btn btn-primary">Start Shopping</a>
</div> *@
